influxdb
netaddr
networkx
pbr>=1.9
prometheus_client==0.7.1
pyyaml
pytricia
-e git://github.com/byllyfish/beka@asyncio#egg=beka
-e git://github.com/byllyfish/chewie@asyncio#egg=chewie
-e git://github.com/byllyfish/zof@develop#egg=zof
