datadiff
eventlet==0.22.1
influxdb
ipaddress
netaddr
networkx
pbr>=1.9
prometheus_client
pyyaml
-e git://github.com/byllyfish/beka@asyncio#egg=beka
-e git://github.com/byllyfish/chewie@asyncio#egg=chewie
-e git://github.com/byllyfish/zof@develop#egg=zof
